body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.ant-btn-icon-only {
  height: 32px !important;
  width: 50px !important;
}

/* Table Footer */
.css-78c6dr-MuiToolbar-root-MuiTablePagination-toolbar {
  align-items: baseline !important;
}

.ant-table-thead > tr > th {
  background: #f9fafb !important;
  border-bottom: 2px solid #e9ebef !important;
  color: #9198a2 !important;
}

.ant-table {
  margin: 20px 0px !important;
  background: transparent !important;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1) !important;
  border-radius: 15px !important;
}

.ant-table-container table > tbody > tr:last-child td:last-child {
  border-bottom-right-radius: 15px !important;
}

.ant-table-container table > tbody > tr:last-child td:first-child {
  border-bottom-left-radius: 15px !important;
}

.ant-table-thead > tr > th,
.ant-table-tbody > tr > td {
  word-break: break-word;
  -ms-word-break: break-all;
}
.ant-pagination-item {
  border: 1px solid #d9d9d9 !important;
}
.ant-pagination-item-active {
  border-color: #1890ff !important;
  font-weight: 500 !important;
}
.ant-pagination-item-active a {
  color: #1890ff !important;
}

.ant-message-top {
  top: 100px !important;
}
